@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@fontsource-variable/libre-franklin';
@import '@fontsource/old-standard-tt';
@import '@fontsource-variable/crimson-pro';
@import '@fontsource-variable/gelasio';
@import '@fontsource-variable/newsreader';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import './felixplore.css';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

[data-theme='felixplore'] {
	--base-font-family: 'Libre Franklin Variable', serif;
	--heading-font-family: 'Libre Franklin Variable', serif;
    /* --heading-font-family: 'Newsreader Variable', serif; */
	/* --heading-font-family: 'Old Standard TT', serif; */
    /* --heading-font-family: 'Crimson Pro Variable', serif; */
	/* --heading-font-family: 'Gelasio Variable', sans-serif; */
	--anchor-font-family: 'inherit';
}
