@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@fontsource-variable/libre-franklin';
@import '@fontsource-variable/merriweather';
@import '@fontsource/source-serif-pro';
@import '@fontsource/charis-sil';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import './felixplore.css';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

[data-theme='felixplore'] {
	--base-font-family: 'Merriweather Variable', serif;
	--heading-font-family: 'Libre Franklin Variable', serif;
	--anchor-font-family: 'inherit';
}
