[data-theme="felixplore"] {
  --text-scaling: 1.067;
  --base-font-color: var(--color-surface-950);
  --base-font-color-dark: var(--color-surface-50);
  --base-font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
  --base-font-size: inherit;
  --base-line-height: inherit;
  --base-font-weight: normal;
  --base-font-style: normal;
  --base-letter-spacing: 0em;
  --heading-font-color: inherit;
  --heading-font-color-dark: inherit;
  --heading-font-family:
    Superclarendon, "Bookman Old Style", "URW Bookman", "URW Bookman L", "Georgia Pro", Georgia,
    serif;
  --heading-font-weight: bold;
  --heading-font-style: normal;
  --heading-letter-spacing: inherit;
  --anchor-font-color: var(--color-primary-500);
  --anchor-font-color-dark: var(--color-primary-500);
  --anchor-font-family: inherit;
  --anchor-font-size: inherit;
  --anchor-line-height: inherit;
  --anchor-font-weight: inherit;
  --anchor-font-style: inherit;
  --anchor-letter-spacing: inherit;
  --anchor-text-decoration: none;
  --anchor-text-decoration-hover: underline;
  --anchor-text-decoration-active: none;
  --anchor-text-decoration-focus: none;
  --spacing: 0.25rem;
  --radius-base: 9999rem;
  --radius-container: 0.75rem;
  --default-border-width: 1px;
  --default-divide-width: 1px;
  --default-ring-width: 1px;
  --body-background-color: var(--color-surface-100);
  --body-background-color-dark: var(--color-surface-950);
  --color-primary-50: oklch(95.71% 0.02 21.44deg);
  --color-primary-100: oklch(88.41% 0.05 19.73deg);
  --color-primary-200: oklch(81.31% 0.08 20.9deg);
  --color-primary-300: oklch(74.34% 0.11 22.08deg);
  --color-primary-400: oklch(67.82% 0.14 23.54deg);
  --color-primary-500: oklch(61.92% 0.17 25.05deg);
  --color-primary-600: oklch(55.8% 0.15 24.73deg);
  --color-primary-700: oklch(49.68% 0.13 24.32deg);
  --color-primary-800: oklch(43.31% 0.11 24.99deg);
  --color-primary-900: oklch(36.76% 0.09 24.44deg);
  --color-primary-950: oklch(29.74% 0.07 23.46deg);
  --color-primary-contrast-dark: var(--color-primary-950);
  --color-primary-contrast-light: var(--color-primary-50);
  --color-primary-contrast-50: var(--color-primary-contrast-dark);
  --color-primary-contrast-100: var(--color-primary-contrast-dark);
  --color-primary-contrast-200: var(--color-primary-contrast-dark);
  --color-primary-contrast-300: var(--color-primary-contrast-dark);
  --color-primary-contrast-400: var(--color-primary-contrast-dark);
  --color-primary-contrast-500: var(--color-primary-contrast-dark);
  --color-primary-contrast-600: var(--color-primary-contrast-light);
  --color-primary-contrast-700: var(--color-primary-contrast-light);
  --color-primary-contrast-800: var(--color-primary-contrast-light);
  --color-primary-contrast-900: var(--color-primary-contrast-light);
  --color-primary-contrast-950: var(--color-primary-contrast-light);
  --color-secondary-50: oklch(94.85% 0.01 217.43deg);
  --color-secondary-100: oklch(83.23% 0.02 220.73deg);
  --color-secondary-200: oklch(71.45% 0.04 217.27deg);
  --color-secondary-300: oklch(59.14% 0.05 219.6deg);
  --color-secondary-400: oklch(46.69% 0.06 219.2deg);
  --color-secondary-500: oklch(33.88% 0.06 225.89deg);
  --color-secondary-600: oklch(30.94% 0.06 224.39deg);
  --color-secondary-700: oklch(27.63% 0.05 224.6deg);
  --color-secondary-800: oklch(24.53% 0.05 222.32deg);
  --color-secondary-900: oklch(21% 0.04 222.16deg);
  --color-secondary-950: oklch(17.65% 0.03 217.9deg);
  --color-secondary-contrast-dark: var(--color-secondary-950);
  --color-secondary-contrast-light: var(--color-secondary-50);
  --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-400: var(--color-secondary-contrast-light);
  --color-secondary-contrast-500: var(--color-secondary-contrast-light);
  --color-secondary-contrast-600: var(--color-secondary-contrast-light);
  --color-secondary-contrast-700: var(--color-secondary-contrast-light);
  --color-secondary-contrast-800: var(--color-secondary-contrast-light);
  --color-secondary-contrast-900: var(--color-secondary-contrast-light);
  --color-secondary-contrast-950: var(--color-secondary-contrast-light);
  --color-tertiary-50: oklch(97.73% 0.01 81.76deg);
  --color-tertiary-100: oklch(92.77% 0.02 77.05deg);
  --color-tertiary-200: oklch(87.72% 0.02 76.51deg);
  --color-tertiary-300: oklch(82.64% 0.03 74.71deg);
  --color-tertiary-400: oklch(77.46% 0.03 74.7deg);
  --color-tertiary-500: oklch(72.23% 0.04 73.55deg);
  --color-tertiary-600: oklch(65.61% 0.04 72.96deg);
  --color-tertiary-700: oklch(58.69% 0.03 75.44deg);
  --color-tertiary-800: oklch(51.47% 0.03 71.12deg);
  --color-tertiary-900: oklch(44.08% 0.02 74.32deg);
  --color-tertiary-950: oklch(36.51% 0.02 73.29deg);
  --color-tertiary-contrast-dark: var(--color-tertiary-950);
  --color-tertiary-contrast-light: var(--color-tertiary-50);
  --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
  --color-success-50: oklch(96.49% 0.02 172.69deg);
  --color-success-100: oklch(90.27% 0.05 172.28deg);
  --color-success-200: oklch(84.56% 0.09 171.12deg);
  --color-success-300: oklch(78.98% 0.11 169.06deg);
  --color-success-400: oklch(74.13% 0.14 166.38deg);
  --color-success-500: oklch(69.59% 0.15 162.47deg);
  --color-success-600: oklch(64.53% 0.14 162.88deg);
  --color-success-700: oklch(59.38% 0.13 163.38deg);
  --color-success-800: oklch(54.13% 0.11 164.62deg);
  --color-success-900: oklch(48.74% 0.1 165.57deg);
  --color-success-950: oklch(43.18% 0.09 166.91deg);
  --color-success-contrast-dark: var(--color-success-950);
  --color-success-contrast-light: var(--color-success-50);
  --color-success-contrast-50: var(--color-success-contrast-dark);
  --color-success-contrast-100: var(--color-success-contrast-dark);
  --color-success-contrast-200: var(--color-success-contrast-dark);
  --color-success-contrast-300: var(--color-success-contrast-dark);
  --color-success-contrast-400: var(--color-success-contrast-dark);
  --color-success-contrast-500: var(--color-success-contrast-dark);
  --color-success-contrast-600: var(--color-success-contrast-light);
  --color-success-contrast-700: var(--color-success-contrast-light);
  --color-success-contrast-800: var(--color-success-contrast-light);
  --color-success-contrast-900: var(--color-success-contrast-light);
  --color-success-contrast-950: var(--color-success-contrast-light);
  --color-warning-50: oklch(97.53% 0.02 83.24deg);
  --color-warning-100: oklch(92.83% 0.06 81.02deg);
  --color-warning-200: oklch(88.51% 0.1 80.87deg);
  --color-warning-300: oklch(84.33% 0.13 78.47deg);
  --color-warning-400: oklch(80.53% 0.15 75.86deg);
  --color-warning-500: oklch(76.86% 0.16 70.07deg);
  --color-warning-600: oklch(70.98% 0.15 70.37deg);
  --color-warning-700: oklch(64.97% 0.14 70.74deg);
  --color-warning-800: oklch(58.63% 0.12 70.43deg);
  --color-warning-900: oklch(52.31% 0.11 70.91deg);
  --color-warning-950: oklch(45.8% 0.1 71.56deg);
  --color-warning-contrast-dark: var(--color-warning-950);
  --color-warning-contrast-light: var(--color-warning-50);
  --color-warning-contrast-50: var(--color-warning-contrast-dark);
  --color-warning-contrast-100: var(--color-warning-contrast-dark);
  --color-warning-contrast-200: var(--color-warning-contrast-dark);
  --color-warning-contrast-300: var(--color-warning-contrast-dark);
  --color-warning-contrast-400: var(--color-warning-contrast-dark);
  --color-warning-contrast-500: var(--color-warning-contrast-dark);
  --color-warning-contrast-600: var(--color-warning-contrast-dark);
  --color-warning-contrast-700: var(--color-warning-contrast-light);
  --color-warning-contrast-800: var(--color-warning-contrast-light);
  --color-warning-contrast-900: var(--color-warning-contrast-light);
  --color-warning-contrast-950: var(--color-warning-contrast-light);
  --color-error-50: oklch(95.79% 0.02 9.87deg);
  --color-error-100: oklch(88.22% 0.06 15.54deg);
  --color-error-200: oklch(81.13% 0.09 18.49deg);
  --color-error-300: oklch(74.37% 0.13 20.24deg);
  --color-error-400: oklch(68.52% 0.17 22.78deg);
  --color-error-500: oklch(63.69% 0.21 25.33deg);
  --color-error-600: oklch(59.12% 0.19 25.41deg);
  --color-error-700: oklch(54.3% 0.18 25.47deg);
  --color-error-800: oklch(49.65% 0.16 25.48deg);
  --color-error-900: oklch(44.6% 0.15 25.56deg);
  --color-error-950: oklch(39.59% 0.13 25.73deg);
  --color-error-contrast-dark: var(--color-error-950);
  --color-error-contrast-light: var(--color-error-50);
  --color-error-contrast-50: var(--color-error-contrast-dark);
  --color-error-contrast-100: var(--color-error-contrast-dark);
  --color-error-contrast-200: var(--color-error-contrast-dark);
  --color-error-contrast-300: var(--color-error-contrast-dark);
  --color-error-contrast-400: var(--color-error-contrast-dark);
  --color-error-contrast-500: var(--color-error-contrast-light);
  --color-error-contrast-600: var(--color-error-contrast-light);
  --color-error-contrast-700: var(--color-error-contrast-light);
  --color-error-contrast-800: var(--color-error-contrast-light);
  --color-error-contrast-900: var(--color-error-contrast-light);
  --color-error-contrast-950: var(--color-error-contrast-light);
  --color-surface-50: oklch(98.28% 0.01 84.52deg);
  --color-surface-100: oklch(96.23% 0.01 81.76deg);
  --color-surface-200: oklch(94.12% 0.01 81.76deg);
  --color-surface-300: oklch(92.25% 0.01 86.79deg);
  --color-surface-400: oklch(90.12% 0.01 86.79deg);
  --color-surface-500: oklch(88.04% 0.01 84.55deg);
  --color-surface-600: oklch(77.46% 0.01 82.37deg);
  --color-surface-700: oklch(66.54% 0.01 76.55deg);
  --color-surface-800: oklch(55.26% 0.01 87.48deg);
  --color-surface-900: oklch(43.25% 0.01 80.68deg);
  --color-surface-950: oklch(30.29% 0.01 75.26deg);
  --color-surface-contrast-dark: var(--color-surface-950);
  --color-surface-contrast-light: var(--color-surface-50);
  --color-surface-contrast-50: var(--color-surface-contrast-dark);
  --color-surface-contrast-100: var(--color-surface-contrast-dark);
  --color-surface-contrast-200: var(--color-surface-contrast-dark);
  --color-surface-contrast-300: var(--color-surface-contrast-dark);
  --color-surface-contrast-400: var(--color-surface-contrast-dark);
  --color-surface-contrast-500: var(--color-surface-contrast-dark);
  --color-surface-contrast-600: var(--color-surface-contrast-dark);
  --color-surface-contrast-700: var(--color-surface-contrast-dark);
  --color-surface-contrast-800: var(--color-surface-contrast-light);
  --color-surface-contrast-900: var(--color-surface-contrast-light);
  --color-surface-contrast-950: var(--color-surface-contrast-light);
}
